@font-face {
  font-family: eva;
  src: url(assets/evangelion-italic.otf);
}
@font-face {
  font-family: eva2;
  src: url(assets/Nasalization\ Rg.otf);
}
:root {
  --c1: #b8e84c;
  --c2: #60289b;
  --c3: #3f6d4e;
}
body {
  margin: 0;
  background: linear-gradient(#0a0005, #000000);
}
h1 {
  color: var(--c1);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 4rem;
  text-align: center;
  font-family: eva, Arial, Helvetica, sans-serif;
  font-weight: 400;
  animation: slideUp 0.8s ease-in-out;
}
@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
}
.intro {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.intro p {
  color: var(--c2);
  font-family: eva2, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5rem;
  border-left: 0.5rem solid #b8e84c;
  padding-left: 10px;
  animation: slideIn 0.8s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* .intro-icon {
  width: 500px;
  height: 400px;
  padding: 5px;
  margin-top: -30px;
  margin-left: 50px;
  animation: slideDown 0.8s ease-in-out;
  position: absolute;
  right: 40px;
}
@keyframes slideDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} just a usless img*/
.git {
  width: 5%;
  margin-left: 100px;
  position: absolute;
  left: 650px;
  top: 360px;
  transition: 0.2s ease-in-out;
}
.start-btn {
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 35px;
  font-family: eva, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-color: var(--c1);
  color: var(--c2);
  margin-bottom: 100px;
  margin-top: -30px;
  letter-spacing: 5px;
  margin-left: 250px;
  transition: 0.2s ease-in-out;
  animation: slideOut 0.8s ease-in-out;
}
.start-btn:hover {
  cursor: pointer;
  background-color: red;
  color: var(--c1);
  transform: translateY(-10px);
}
@keyframes slideOut {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-section {
  display: flex;
  display: none;
  flex-direction: row;
  background-color: var(--c2);
  width: 800px;
  height: 100px;
  border: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.input-section-show {
  display: flex;
  animation: slideIn 0.8s ease-in-out;
}
.input-section:hover {
  outline: 1px solid var(--c1);
}
.todo-input {
  background-color: var(--c2);
  color: var(--c1);
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: eva2, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  outline: var(--c2);
  padding-right: 120px;
}
.missions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mt {
  display: none;
  color: var(--c2);
  font-family: eva2, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.filter-section {
  display: flex;
  display: none;
  transition: 0.2 ease-in-out;
  flex-direction: column;
  margin: 15px;
  padding: 5px;
  align-items: flex-start;
}
.filter-section-show {
  display: flex;
  animation: slideOut 0.8s ease-in-out;
}
.filter-section button {
  display: flex;
  width: fit-content;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 10px;
  padding: 5px;
  font-family: eva, Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  color: var(--c3);
  background-color: var(--c1);
  transition: 0.2s ease-in-out;
}

.filter-section button:hover {
  cursor: pointer;
  background-color: red;
}
.filter-section button.active-filter {
  background-color: red;
  color: var(--c1);
}
.filter-section button:active {
  cursor: pointer;
  background-color: red;
}

.add-btn {
  position: absolute;
  right: 0.2px;
  color: var(--c1);
  background-color: var(--c3);
  font-family: eva2, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.add-btn:hover {
  cursor: pointer;
  background-color: var(--c1);
  color: var(--c3);
}
.todo-list {
  display: flex;
  flex-direction: column;
  display: none;
  color: var(--c1);
  font-size: 2rem;
  transition: 0.2s ease-in;
}
.todo-list-show {
  display: flex;
  animation: slideIn 0.8s ease-in-out;
}
ul {
  list-style: none;
}
li {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 15px 35px;
  margin-bottom: 15px;
  transition: 0.3s;
  font-family: eva2, Arial, Helvetica, sans-serif;
}
li::before {
  content: "";
  position: absolute;

  left: -40px;
  top: 50%;
  transform: translateY(-50%);

  width: 60px;
  height: 70px;
  border-radius: 12px;

  background-image: url("assets/066a9100-f36e-11ef-a439-afb91bce12f7.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
li:hover {
  transform: translateY(-5px);
}
.done {
  text-decoration: line-through;
  opacity: 0.5;
}
.done-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 5px 10px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.done-btn:hover {
  transform: scale(1.4);
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 5px 10px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.delete-btn:hover {
  transform: scale(1.4);
}
@media (min-width: 577px) and (max-width: 992px) {
  h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    letter-spacing: 6px;
    padding: 0 20px;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
  }
  .intro p {
    font-size: 2.1rem;
    line-height: 2.4rem;
    margin: 0;
    padding-left: 12px;
  }
  .git-container {
    position: static;
    height: 20px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .git {
    position: static;
    display: flex;
    width: 10%;
    margin: 0;
    padding: 0;
  }
  .intro-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 500px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 1.8rem;
  }
  .input-section {
    margin-top: 20px;
    flex-direction: row;
    width: 85%;
    max-width: 650px;
    height: 90px;
  }
  .todo-input {
    background-color: var(--c2);
    color: var(--c1);
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    border: none;
    border-radius: 5px;
    outline: var(--c2);
    padding-right: 110px;
  }
  .missions {
    flex-direction: column;
  }
  .filter-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .filter-section button {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10;
  }
  .intro p {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
    padding-left: 10px;
  }
  .git-container {
    position: static;
    height: 10px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .git {
    position: static;
    display: flex;
    width: 15%;
    margin: 0;
    padding: 0;
  }
  .intro-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0;
    margin-top: 100px;
    padding: 0;
  }
  .input-section {
    margin-top: 30px;
    flex-direction: row;
    width: 370px;
    height: 80px;
  }
  .todo-input {
    background-color: var(--c2);
    color: var(--c1);
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    outline: var(--c2);
    padding-right: 120px;
  }
  .missions {
    flex-direction: column;
  }
  .filter-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
